


#employee_page{
  text-align: center;
  font-size: 30px;
  background: grey;
  height: 50px;
}

.button_factor{
  background:  #D3D3D3;
}
.background-dialog{
    width: 100%;
    background-color: #FFF;
    position: fixed;
    height: 100%;
    opacity: 0.9;
}
